/* body element is the parent element of all the other elements in HTML document so if we set certain properties in the body then their values will get inherited to all of thier child elements */

/* Inherited styles are easily overwritten whenever there is any rule that applies for the same property */

body {
  color: #444;
  font-family: sans-serif;
}

/* Combining Selectors */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* Descendent Selector */
/* Select all "p" elements inside footer element */
/* Not a good practice to use it as it reflects the HTML structure which can leads to problem */
/* footer p {
  font-size: 16px;
} */

/* If we added one more "p" element inside another header then it gets styled as well which we don't want because there can be multiple headers possible inside HTML structure*/
/* header p {
  font-style: italic;
} */

/* SO we can create nested descendant */
/* article header p {
  font-style: italic;
} */

/* If we change out HTML code then it is hard to maintain the same with selectors we used. Instead we can use Class and ID Selectors */
/* Avoiding long selector by using ID and Classes */

/* ID Selector */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

/* Usually in the real world we never use IDs we always uses classes because by using classes we are prepared for the future and potential changes*/
.related {
  list-style: none;
}

/* header {
  background-color: #f7f7f7;
} */

.main-header {
  background-color: #f7f7f7;
}

/* Element Selector */
aside {
  background-color: #f7f7f7;

  /* border: 5px solid #1098ad; */

  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* body {
  background-color: rgb(205, 205, 239);
} */

/* .first-li {
  font-weight: bold;
} */

/* Pseudo Classes */
/* select all the "li" elements that are the firstchild elements of its parent elements */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/* li:nth-child(odd) {
  color: red;
} */

/* li:nth-child(even) {
  color: red;
} */

/* This is not how first child pseudo class actually works  */
/* here CSS will apply css if "p" is the first child of article */
/* article p:first-child {
  color: red;
} */

/* descendant + Pseudo selector */
/* article p:last-child {
  color: red;
} */

/* not a good practice to style "a" element */
/* a {
  color: #1098ad;
} */

/* This will target actuall links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */

/* here # has the highest  */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */
